.header{
    background-color: $HeadColor;
    margin-bottom: 50px;
    .header__wrapper{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        margin: 0 auto;
        padding: 5px 0px; //위 아래 5, 0
        max-width: 1200px;
        .header_column{
            i{
                color: $iconColor;
                font-size: 40px;
            }

            //자기자신의 2번째 요소, 즉, 2번째 header_column
            &:nth-child(2){
                width: 100%;
                justify-self: center;
            }

            //userInterface 우측단
            &:last-child{
                justify-self: end;
            }
            form{
                width: 100%;
                input{
                    padding: 9px 10px;
                    width: 100%;
                    border-radius: 3px;
                    font-size: 17px;
                    font-weight: 500;
                    color:$inputFontColor;
                    &::placeholder{
                        font-weight: 200;
                        color: rgb(121, 118, 118);
                    }
                } 
            }
            ul{
                display: flex;
                color: white;
                font-weight: 600;

                //ul의 마지막 li 요소가 아니라면,
                li:not(:last-child){
                    margin-right: 15px;
                }
            }
        }
    }
}    