extends layout/main
include mixins/videoBlock

block content 
    .search__header
        p #{searchBy}

    .search__videos
        each item in videos
            +videoBlock({
            title : item.title,
            file : item.file,
            views : item.views,
            id : item._id
            })
