.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .video__player video{
        width: 900px;
    }
    .video__info{
        width: 100%;
        max-width: 900px;
    }
    button{
        width: 100px;
        font-weight: 900;
        text-shadow: 1px 1px 3px;
        background-color: lightblue;
        color: rgb(90, 90, 90);
    }
}