.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .video__player video{
        width: 900px;
    }
    .video__info{
        width: 100%;
        max-width: 900px;
        
        .video__title,
        .video__views,
        .video__description{
            display: block;
            margin-bottom:15px;
        }
        .video__title{
            font-size: 28px;
        }
        .video__views{
            font-size: 14px;
        }
        .video__description{
            font-size: 19px;
        }
    }
    .video__comments{
        margin-top: 25px;
        .video__comments-number{
            font-size: 18px;
        }
    }
    button{
        width: 100px;
        font-weight: 900;
        text-shadow: 1px 1px 3px;
        background-color: lightblue;
        color: rgb(90, 90, 90);
    }
}